.text-typewriter h1 {
    font-size: 2.5em;
}

.vscode {
    width: 300px;
    margin-right: 4px;
}

.about {
    width: 300px;
    margin-left: 4px;
}

.css {
    width: 95%;
}

.txt {
    width: 95%;
}

.txt-content, .code {
    font-size: 11px;
}   

.image1 {
    width: 100px;
    height: 33px;
}

.searchbox:hover > .searchtext {
    width: 10vh;
}

.feature1 {
    flex-direction: column;
    height: calc((125*500px)/100);
    justify-content: center;
    align-items: center; 
}

.feature2 {
    position: relative;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

#pc, #pc2 {
    margin-right: 0px;
}

.light-box, .light-box-2 {
    width: calc((75*520px)/100);
    margin-top: calc((25*50px)/100);
}

.light-box-inner, .light-box-inner-2 {
    width: calc((75*500px)/100);       
}

.light-box-inner-text, .light-box-inner-text-2 {
    font-size: 13px;
}

.light-box-inner-button {
    width: calc((75*480px)/100);
}

#light-box-inner-button-text {
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    color: var(--black);
}

.final-outer {
    height: calc((75*100px)/100);
    width: calc((50*900px)/100);
}

.final span {
    font-size: .8rem;
}

#footer-content-text {
    font-size: .8rem;
}

.image2 {
    display: none;
}

.image1 {
    margin-left: 30px;
}

.footer-content ul {
    font-size: 12px;
}

.footer-content {
    margin-left: 40px;
}

#hr {
    width: 50px;
}

#hr2 {
    width: calc((25*1450px)/100);
}

.rights p {
    font-size: 14px;
}

#github, #twitter, #discord {
    width: 18px;
    height: 18px;
}

.menu {
    justify-content: center;
}

.menu ul {
    margin-left: 20px;
}

.menu li {
    margin-right: 20px;
}

header ul {
    margin: 15px;
}
