@import url(template.css);

.menu {
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2);
}

.nav-indicator {
    opacity: 0;
    display: flex;
    height: 50px;
    align-items: center;
    animation: fade .5s forwards ease;
    background-color: var(--frame-inner-lighter);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px
}

#home {
    color: var(--white);
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .5s ease;
    font-size: .8em;
    text-decoration: underline;
    margin-left: 30px;
}

#home:hover {
    filter: brightness(60%);
}

#current {
    color: var(--gray-light);
    display: flex;
    font-size: .8em;
    margin-left: 8px;
}

.partpicker {
    position: relative;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.partpicker-dark-box {
    display: flex;
    background-color: var(--frame-outer);
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#title-partpicker {
    position: relative;
    color: var(--white);
    font-size: 1em;
    margin-left: 15px;
}

#gears {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.body-wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
}

.compatibility {
    width: 98vw;
    height: 60px;
    background: linear-gradient(270deg, #1CB5E0, #000046 80%); 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    animation: fade 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.compatibility p {
    text-indent: 10px;
    color: white;
}

.compatibility span {
    background: linear-gradient(270deg,#22d3ee, #2043dd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: "Lato";
    font-weight: bold;
}